<% if(role.type == 'SuperUser') { %>
	<div class="alert alert-warning">
		<strong>Careful!</strong> You are editing this community as a Super User. Try not to disrupt the community.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
<% } %>
<ul class="nav nav-pills community-nav visible-xs">
  <li class="active"><a data-toggle="pill" href="#overview">Overview</a></li>
  <li><a data-toggle="pill" href="#tournaments">Tournaments</a></li>
  <li><a data-toggle="pill" href="#smashers">Smashers</a></li>
  <% if(role.type == 'Admin' || role.type == 'SuperUser') { %>
	  <li><a href="/c/<%= community.id %>/tournament/new" class="btn btn-default btn-sm full outline">Upload Tournament</a></li>
	  <li><a href="/c/<%= community.id %>/edit" class="btn btn-default btn-sm full">Edit Community</a></li>
	<% } %>
</ul>
<div class="well community-content scrollable">
	<div class="row">
		<div class="col-sm-3 hidden-xs">
		  <ul class="nav nav-pills nav-stacked affix">
		    <li class="active"><a data-toggle="pill" href="#overview">Overview</a></li>
		    <li><a data-toggle="pill" href="#tournaments">Tournaments</a></li>
		    <li><a data-toggle="pill" href="#smashers">Smashers</a></li>
		    <% if(role.type == 'Admin' || role.type == 'SuperUser') { %>
		    	<li><a href="/c/<%= community.id %>/tournament/new" class="btn btn-default btn-sm full outline">Upload Tournament</a></li>
		    	<li><a href="/c/<%= community.id %>/edit" class="btn btn-default btn-sm full">Edit Community</a></li>
		    <% } %>
		  </ul>
		</div>
		<div class="col-xs-12 col-sm-9">
			<h1><span class="underline-green community-title"><%= community.name %></span></h1>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="overview" class="row">
					<% if(community.description) { %>
						<div class="col-xs-12 hidden-xs">
							<h4><%= community.description %></h4>
						</div>
						<div class="col-xs-12 visible-xs">
							<h4>
								<% if(community.description.length > 30) { %><%= community.description.substring(0, 30) %>
								<% } else { %><%= community.description %>...<% } %>
							</h4>
						</div>
					<% } %>
					<div class="col-md-6 col-xs-12">
						<h3>Tournaments: <span class="green"><%= community.tournaments.length %></span></h3>
					</div>
					<div class="col-md-6 col-xs-12">
						<h3>Smashers: <span class="challonge-orange"><%= community.smashers.length %></span></h3>
					</div>
				</div>
				<div class="tab-pane fade" id="tournaments" class="row">
					<div class="col-xs-12">
						<table class="table table-striped">
							<thead>
								<td><span class="green-underline">Tournament</span></td>
								<td><span class="green-underline">Participants</span></td>
								<td><span class="green-underline">Date</span></td>
							</thead>
							<tbody>
								<% for(var i = 0; i < community.tournaments.length; i++) { %>
									<tr>
										<td>
											<a href="/c/<%= community.id %>/tournament/<%= community.tournaments[i].id %>"><%= community.tournaments[i].name %></a>
										</td>
										<td><%= community.tournaments[i].entrants.length %></td>
										<td><%= community.tournaments[i].date.toDateString() %></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="smashers" class="row">
					<div class="col-xs-12">
						<table class="table table-striped">
							<thead>
								<td><span class="green-underline">Tag</span></td>
								<td><span class="green-underline">Wins</span></td>
								<td><span class="green-underline">Losses</span></td>
							</thead>
							<tbody>
								<% for(var i = 0; i < community.smashers.length; i++) { %>
									<tr>
										<td><%= community.smashers[i].tag %></a></td>
										<td><span class="green"><%= community.smashers[i].wins.length %></span></td>
										<td><span class="challonge-orange"><%= community.smashers[i].losses.length %></span></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>