<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Smash Tracker' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/vendor/simple-sidebar.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- partial ('partials/_defaultNavBar.ejs') %>
    <div class="container fill">
      <%- partial ('partials/_defaultAlerts.ejs') %>
      <div class="row">
        <div id="main-container" class="col-xs-12">
          <%- body %>
          <% if(!req.user) { %>
            <%- partial('partials/_loginModal.ejs') %>
          <% } %>
          <!--SCRIPTS-->
          <script src="/js/dependencies/sails.io.js"></script>
          <script src="/js/dependencies/jquery/jquery.min.js"></script>
          <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
          <script src="/js/application.js"></script>
          <!--SCRIPTS END-->
        </div>
      </div>
    </div>
    <div id="footer">
      <p class="text-center">Powered By: <a href="https://www.nodejs.org"><img src="/images/nodejs-logo.png" class="img-responsive" /></a> + <a href="https://www.sailsjs.org"><img src="/images/sailsjs-logo.png" class="sails-logo img-responsive" /></a></p>
    </div>
  </body>
</html>
