<div class="well smasher-content">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/u/<%= req.user.id %>/dashboard">Dashboard</a></li>
                <li><a href="/c/<%= community.id %>"><%= community.name %></a></li>
                <li><a href="/c/<%= community.id %>/smasher/<%= smasher.tag %>"><%= smasher.tag %></a></li>
                <li class="active">Edit</li>
            </ol>
        </div>
        <div class="col-xs-12">
            <h1 class="underline-green">Edit Smasher</h1>
            <form method="post" action="/c/<%= community.id %>/smasher/<%= smasher.id %>" class="form-horizontal">
			    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                <div class="row">
                    <div class="col-xs-12">
                        <div id="nameForm" class="form-group">
                            <label for="name" class="control-label col-xs-2">Tag</label>
                            <div class="col-sm-5 col-xs-10">
                                <input type="text" id="newName" class="form-control" name="tag" value="<%= smasher.tag %>" />
                            </div>
                            <div class="col-lg-offset-2 col-lg-10 col-xs-12">
                                <label id="warningLabel" for="newName" class="control-label" style="display:none;">Another smasher already exists with this tag, saving will merge the two smashers</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-2 col-xs-12">
                        <button type="submit" class="btn btn-primary outline full">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    // create array of existing smashers in lowerscase
    var existingSmashers = '<%- existingSmashers %>'.split(',');
    for(var i = 0; i < existingSmashers.length; i++) {
        var tag = existingSmashers[i];
        existingSmashers[i] = tag.toLowerCase();
    }

    $('#newName').keyup(function(data) {
        var newTag = data.currentTarget.value.toLowerCase();
        console.log(newTag);
        if(existingSmashers.indexOf(newTag) >= 0) {
            $('#nameForm').addClass('has-warning');
            $('#warningLabel').show();
        } else {
            $('#nameForm').removeClass('has-warning');
            $('#warningLabel').hide();
        }
    });
</script>

